/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.pointer {
    cursor: pointer;
}

.logo {
    margin-right: 10px;
}

.card-div {
    padding: 10px;
    font-size: 18px;
}

.img-style {
    height: 300px;
    object-fit: contain;
}
